<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click the Button [ LIVE ]</title>
    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <div class="NavBar">
        <center>
            <h1>CLICK THE BUTTON</h1>
            <button class="HomeB"><strong> <a href="/">Home</a></strong></button>
            <button class="MilestonesB"><strong> <a href="/milestones">Milestones</a></strong></button>
        </center>
        <br>
    </div>
    
    <div class="BLOCK2">
        <button id="CLICKER" class="BUTTONSTYLE"> <strong>Click Me</strong> </button>
    </div>
    <div id="VALUE"></div>
</body>
</html>